<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
<div class="container content-zone">
  <h1> Blog </h1>
  <div class="blog-records">
    {% for record in website_data.blog_records %}
      {% if record.cover %}
        <div class="blog-record">
          <h2>
            <a href="{{ 'blog/' | append: record.slug | link_to }}">{{ record.title }}</a>
          </h2>
          <div class="sticker">
            <div class="day"> {{ record.created_at.strftime("%d") }} </div>
            <div class="month"> {{ record.created_at.strftime("%B") }} </div>
          </div>
          <img class="cover" src="{{ record.image | attachment_url: 'big' }}" alt="{{record.all_text}}" />
          {{ record.text | truncate: 300 }}
          <br />
          <a href="{{ 'blog/' | append: record.slug }}">Read more...</a>
        </div>
      {% else %}
        <div class="blog-record without-cover-image">
          <h2>
            <a href="{{ 'blog/' | append: record.slug | link_to }}">{{ record.title }}</a>
          </h2>
          <div class="sticker">
            <div class="day"> {{ record.created_at | date: "%d" }} </div>
            <div class="month"> {{ record.created_at | date: "%B" }} </div>
          </div>
          {{ record.text | truncate: 300 }}
          <br />
          <a href="{{ 'blog/' | append: record.slug }}">Read more...</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <a class="btn btn-primary btn-lg load-more" href="/blog_next">Load more</a>
</div>
