<div class="main-photo extra-small" style="background-image: url({{website_data.header_image | attachment_url: 'top_line' }});">
  <div class="background"></div>
</div>
<div class="container content-zone room-page">
  <div class="row">
    <div class="col-md-4">
      <h1> {{number.name}} </h1>
      {% unless number.description == '' %}
        <p> {{ number.description }} </p>
      {% endunless %}
      {% if number.room_type.facilities.size > 0 %}
        <strong> Room Facilities </strong>
        <ul class="facilities">
          {% for facility in number.room_type.facilities %}
            <li>
              {% if facility.icon %}
                <i class="fa fa-{{facility.icon}}"> </i>
              {% else %}
                <i class="fa fa-circle"></i>
              {% endif %}
              {{ facility.title | get_translation: website_data.id, website_data.lang }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if number.room_type.photos.size > 0 %}
        <div class="big-photo">
          <img src="{{ number.room_type.photos.first.image | attachment_url: 'public_big' }}" />
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {% if website_data.booking_link == '' %}
        <a href="{{ '/book' | link_to: website_data.link_object}}" class="btn btn-lg btn-success booking-form-link">Book Now</a>
      {% else %}
        <a href="{{website_data.booking_link}}" class="btn btn-lg btn-success booking-form-link">Book Now</a>
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if number.room_type.photos.size > 0 %}
        <div class="small-photos">
          <ul>
            {% for photo in number.room_type.photos %}
              {% if forloop.index0 == 0 %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
                <a href="{{ photo.image | attachment_url: 'public_big' }}">
                  <img src="{{ photo.image | attachment_url: 'public_small' }}" class="hidden-xs" />
                  <img src="{{ photo.image | attachment_url: 'public_big' }}" class="hidden-sm hidden-lg hidden-md" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
